/* Header, Navbar, Layout을 위한 css */

html {
    /* Mingle 전체 기본 글씨체 */
    color: #343434;
    font-family: 'Noto Sans KR', sans-serif;
}

.flex {
    display: flex;
}

.outletSize {
    margin: 20px;
    width: 100%;
}

/* Header */
.headerBox {
    display: flex;
    align-items: center;
    border-bottom: 5px solid #F6F6F6;
    width: 100vw;
    height: 6em;
}

.logo {
    font-family: 'Paytone One', sans-serif;
    font-size: 42px;
    margin: 50px;
    cursor: pointer;
}

.logo span {
    color: #FF9797;
}

.hello {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
}

.iconBox {
    margin: 45px;
}

.iconBox img {
    margin: 25px;
    width: 50px;
}

.iconBox img:hover {
    cursor: pointer;
}

.buttonBox button {
    border: none;
    border-radius: 20px;
    background-color: #FFD7D7;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px 40px;
    margin-right: 45px;
}

.buttonBox button:hover {
    background-color: #FF9797;
    cursor: pointer;
}


/* -------------------------------------------------------------------------------------- */

/* Navbar */
.navBarBox {
    border-right: 5px solid #F6F6F6;
    width: 15%;
    height: 100vh;
    color: #666666;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    cursor: pointer;
}

.superMenu {
    font-size: 27px;
    padding: 20px;
}

.navBarBox p {
    font-size: 22px;
    margin: 0;
    padding: 5px;
}

.closed {
    display: none;
}

.active .superMenu,
.activelist {
    color: #FF9797;
    box-shadow: 5px 0 0 #FF9797;
}

.navBarBox p {
    font-size: 20px;
}

.closed {
    display: none;
}

.active .superMenu,
.activelist {
    color: #FF9797;
    box-shadow: 5px 0 0 #FF9797;
}

.superMenu {
    font-size: 25px;
    padding: 20px;
}
