/* Header, Navbar, Layout을 위한 css */

html {
    /* Mingle 전체 기본 글씨체 */
    color: #343434;
    font-family: 'Noto Sans KR', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

input[type="checkbox"] {
  accent-color: #FFD7D7;
}

.pageDirection {
    position: absolute;
    top: 100px;
    left: 290px;
    font-weight: 900;
    font-size: 20px;
}

/* 표 공통 속성 ---------------------------*/
table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-size: 20px;
    border-bottom: 1px solid #666666;
    padding: 20px;
}

th {
    padding: 15px;
}

tbody tr:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}
/* -------------------------------------- */

.flex {
    display: flex;
}

.outletCustom {
    display: flex;
    margin: 20px;
    width: 100%;
    padding: 0;
    justify-content: center;
    overflow-y: auto;
    overflow-x:hidden
}


.outletCustom::-webkit-scrollbar {
    display: none;
}

/* Header */
.headerBoxLight {
    display: flex;
    align-items: center;
    border-bottom: 5px solid #F6F6F6;
    width: 100vw;
    height: 6em;
}

.headerBoxDark {
    display: flex;
    align-items: center;
    border-bottom: 5px solid #707070;
    background-color: #4D4D4D;
    color: #ffffff;
    width: 100vw;
    height: 6em;
}

.logo {
    font-family: 'Paytone One', sans-serif;
    font-size: 42px;
    margin: 50px;
    cursor: pointer;
}

.logo span {
    color: #FF9797;
}

.hello {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
}

.iconBox {
    margin: 45px;
}

.iconBox img {
    margin: 25px;
    width: 50px;
    transition: transform 0.2s ease-in-out;
}

.iconBox img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.buttonBoxLight button {
    border: none;
    border-radius: 20px;
    background-color: #FFD7D7;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 35px;
    color: white;
    padding: 5px 40px;
    margin-right: 45px;
}

.buttonBoxDark button {
    border: none;
    border-radius: 20px;
    background-color: #FFD7D7;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 35px;
    color: #4D4D4D;
    padding: 5px 40px;
    margin-right: 45px;
}

.buttonBoxLight button:hover,
.buttonBoxDark button:hover {
    background-color: #FF9797;
    cursor: pointer;
}


/* -------------------------------------------------------------------------------------- */

/* Navbar */
.navBarBoxLight {
    border-right: 5px solid #F6F6F6;
    width: 250px;
    height: 89.5vh;
    color: #666666;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    cursor: pointer;
}

.navBarBoxDark {
    border-right: 5px solid #707070;
    width: 250px;
    height: 89.5vh;
    background-color: #4D4D4D;
    color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    cursor: pointer;
}

.superMenu {
    font-size: 27px;
    padding: 20px;
}

.navBarBoxLight p,
.navBarBoxDark p {
    font-size: 22px;
    margin: 0;
    padding: 5px;
}

.closed {
    display: none;
}

.active .superMenu,
.activelist {
    color: #FF9797;
    box-shadow: 5px 0 0 #FF9797;
}

.closed {
    display: none;
}

.active .superMenu,
.activelist {
    color: #FF9797;
    box-shadow: 5px 0 0 #FF9797;
}

.superMenu {
    font-size: 25px;
    padding: 20px;
}
