.pagingBtn{
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border : 1px solid #343434;
    color: black;
    box-shadow: none;
}

.pagingBtn:hover {
    cursor: pointer;
    border : 1px solid #343434;
    background-color: #343434;
    color: white;
}