.pagingBtn{
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border : 1px solid #E7E7E7;
    color: black;
    box-shadow: none;
}

.pagingBtn:hover {
    cursor: pointer;
    border : 1px solid #FF9797;
    background-color: #FF9797;
    color: white;
}