.basic {
  border: 1px solid none;
  border-radius: 10px;
  background-color: #FFD7D7;
  padding: 17px;
  display: flex;
  align-items: center; 
  margin-top: 60px;
}

.searchBarSelect {
  width: 400px;
  height: 50px;
  font-size: 18px;
  border: 1px solid #FF9797;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}


.searchBar {
  border: 1px solid #FF9797;
  width: 700px;
  height: 47px;
  margin-right: 15px;
  margin-left: 16px;
  padding-left: 10px;
  font-size: 18px;
}

.searchBarBtn {
  width: 350px;
  height: 50px;
  background-color: #FF9797;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.searchBar:focus {
  outline: none;
}

.selectBox:focus {
  outline: none;
}

.searchBarAttLec {
  border: 1px solid #FF9797;
  width: 400px;
  height: 47px;
  margin-right: 15px;
  margin-left: 26px;
  padding-left: 10px;
  font-size: 18px;
}
.searchBarAttDate {
  border: 1px solid #FF9797;
  width: 230px;
  height: 47px;
  margin-right: 15px;
  margin-left: 26px;
  padding-left: 10px;
  font-size: 18px;
}
.searchBarBtnAtt {
  width: 120px;
  height: 50px;
  background-color: #FF9797;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}