.basic {
  border: 1px solid none;
  border-radius: 10px;
  background-color: #DADADA;
  padding: 17px;
  display: flex;
  align-items: center; 
  margin-top: 60px;
  
}

.searchBarSelect {
  width: 400px;
  height: 50px;
  font-size: 17px;
  border: 1px solid #969696;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}


.searchBar {
  border: 1px solid #969696;
  width: 700px;
  height: 47px;
  margin-right: 15px;
  margin-left: 16px;
  padding-left: 15px;
  font-size: 17px;
}

.searchBarBtn {
  width: 350px;
  height: 50px;
  background-color: #343434;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 750px;
  margin-left: 50px;
}

.searchBar:focus {
  outline: none;
}

.selectBox:focus {
  outline: none;
}

.searchBarAttLec {
  border: 1px solid #343434;
  width: 400px;
  height: 47px;
  margin-right: 15px;
  margin-left: 26px;
  padding-left: 10px;
  font-size: 18px;
}
.searchBarAttDate {
  border: 1px solid #343434;
  width: 230px;
  height: 47px;
  margin-right: 15px;
  margin-left: 26px;
  padding-left: 10px;
  font-size: 18px;
}
.searchBarBtnAtt {
  width: 120px;
  height: 50px;
  background-color: #343434;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}
.searchBarWhole {
  width:100%;
  text-align: center;
 
}