.acScheContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: 20px;
  width: 100%;
  height: 800px;
}

.acScheRegist {
  width: 900px;
  margin-top: 40px;
}

.acScheLeft {
  border: 1px solid none;
  overflow: scroll;
  background-color: #F8F8F8;
  width: 600px;
  margin-top: 40px;
  padding-left: 20px;
}

.acScheRead {
  margin-bottom: 20px;
}

.acScheRead p {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 26px;
  font-weight: bolder;
}


.acScheRegist span {
  display: flex;
  float: left;
}


.acScheDateInput {
  display: flex;
  float: right;
}

.acScheDetail textarea {
  display: flex;
  float: right;
}

.acScheRegistDevide {
  display: flex;
  justify-content: space-between;
  height: 83px;
}

.acScheRegistDetailTitle {
  display: flex;
  justify-content: space-between;
}

.acScheRegistName span {
  display: flex;
  display: left;
  margin-top: 12px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 40px;
}

.acScheRegistName input {
  width: 512px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 30px;
  border: 1px solid #343434;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}


.acScheType {
  font-size: 16px;
  margin-left: 20px;
  color: #999;
}

.acScheName {
  font-size: 16px;
  margin-left: 22px;
  color: #343434;
}

.acScheListName {
  margin-bottom: 35px;
  color: #343434;
}

.acScheStartDate {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}

.acScheEndDate {
  font-size: 20px;
  padding-left: 15px;
}

.acScheListDate {
  margin-bottom: -30px;
  font-weight: bold;
  color: #343434;
}

.acScheRegistType span {
  margin-left: 10px;
  margin-right: 32px;
  margin-top: 12px;
  font-size: 18px;
}

.acScheRegistType input {
  width: 100px;
  height: 50px;
  border: 1px solid #343434;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  font-size: 18px;
  outline: none;
}

.acScheRegistEmployee span {
  margin-top: 10px;
}

.acScheRegistEmployee input {
  width: 310px;
  height: 50px;
  margin-right: 10px;
  margin-left: 16px;
  border: 1px solid #343434;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  outline: none;
}

.acScheRegistDate {
  width: 900px;
  height: 90px;
}

.acScheRegistDate input {
  width: 349px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #343434;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  outline: none;
}

.acScheRegistDate span {
  margin-top: 12.5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.acScheDetail {
  width: 900px;
  height: 320px;
}

.acScheDetail span {
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}

.acScheDetail textarea {
  margin-right: 10px;
  width: 754px;
  height: 300px;
  padding: 18px;
  border: 1px solid #343434;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  resize: none;
}

.acScheRegistBtn {
  display: flex;
  float: right;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 46px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 10px;
  background-color: #343434;
  color: white;
  cursor: pointer;
}

/* 행에 마우스 올렸을 때 (hover) */
.acScheList p:hover {
  color: #66D2B3;
  cursor: pointer;
}

/* 행 클릭 시 글씨 색상 변화 */
.acScheList:focus {
  color: #0000FF;
}