/* AppliedCertidocs */
.AppliedCertiDocCSS {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.ApplyCertiDocCSSTable {
  margin-top: 30px;
}

.ApplyCertiDocCSSTable button {
  width: 100px;
  height: 40px;
  background-color: #343434;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.ApplyCertiDocCSSTable input {
    width: 80%;
    border: 1px solid #343434;
    height: 20px;
    border-radius: 2px;
}

.ApplyCertiDocCSSTable input:focus {
    border-color: #343434;
    outline: none;
}

.ApplyCertiDocCSSTable select {
    text-align: center;
    width: 70%;
    border-radius: 2px;
    border: 1px solid #343434;
    font-size: 17px;
    outline: none;
}

.ApplyCertiDocCSSTable button:hover{
    color: white;
    background-color: #343434;
}

.inputAtdEtc {
    height: 20px;
    border-radius: 4px;
}

/* ApplyCertiDoc */
.ApplyCertiDocCSS {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.ApplyTitle {
  margin-top: 60px;
  border: 1px solid #DADADA;
  background-color: #f1f1f1;
  border-radius: 10px;
  height: 244px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  text-indent: 40px;
  font-size: 16px;
  padding-top: 20px;
}

.ApplyTitle span {
  color: #4fcaa7;
  font-size: 18px;
}

.ApplyTable{
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
}

.ApplyTable tbody > tr {
  height: 80px;
}

.ApplyTable button {
    width: 100px;
    height: 40px;
    background-color: #343434;
    margin-top: 18px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.ApplyTable input {
    width: 80%;
    border: 1px solid #343434;
    height: 40px;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.ApplyTable input:focus {
    border-color: #343434;
    outline: none;
}

.ApplyTable tbody {
  font-size: 18px;
}

.ApplyTable select {
    text-align: center;
    border-radius: 2px;
    border: 1px solid #343434;
    font-size: 16px;
    outline: none;
    height: 40px;
    width: 150px;
}

.ApplyTable button:hover{
    color: white;
    background-color: #343434;
}

.NumberingOne span {
  border: 1px solid #343434;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 100px;
  background-color: #343434;
  color: white;
  font-size: 16px;
}