.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalContainer{
    position: flex;
    width: 700px;   
    height: 900px; 
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 1000;    
}

.AttendanceModalDiv{    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
    background-color: white;
    border-radius: 1px;
    margin-left: 50px;
    margin-right: 50px;
}

.name {
    margin-top: 50px;
    font-size: 40px;
}

.empName {
    height: 18px;
    margin-top: 8px;
    margin-right: 40px;    
    margin-left: 18px;
}

.deptCode {
    height: 18px;
    margin-top: 8px;
    margin-right: 18px;
    margin-left: 40px;
}

.inputEmpName {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #FF9797;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
}

.selectdept {
    margin-top: 4px;
    text-align: center;
    border: 1px solid #FF9797;
    border-radius: 8px;
    width: 180px;
    height: 35px;
    margin-right: 7px;
}

.leaveFormCode {
    height: 18px;
    margin-top: 30px;
    margin-right: 44px;
    margin-left: 10px;
}

.selectFormCode {
    margin-top: 25px;
    text-align: center;
    border: 1px solid #FF9797;
    border-radius: 8px;
    width: 475px;
    height: 35px;
}

.atdStartTime {
    margin-top: 40px;
    margin-left: 4px;
}

.inputStartTime {
    height: 38px;
    border: 1px solid #FF9797;
    margin-top: 33px;
    border-radius: 8px;
    width: 197px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.pp {
    margin-top: 38px;
    margin-right: 30px;
}

.inputEndTime {
    height: 38px;
    text-align: center;
    border: 1px solid #FF9797;
    margin-top: 33px;
    border-radius: 8px;
    width: 200px;
    margin-right: 20px;
}

.reason {
    margin-top: 38px;    
}

.inputreason {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 16px;
    border: 1px solid #FF9797;
    border-radius: 8px;
    width: 466px;
    height: 255px;
    resize: none;
}

.last{
    margin-top: 45px;
    font-size: 48px;
    margin-bottom: 20px;    
}

.insertButton {
    position: absolute;
    bottom: 6%;
    left: 57%;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    background-color:  #FFD7D7;
    font-weight: bold;
    border: solid #FFD7D7;
    color: white;
    font-size: 18px;
}

.inputdeptName {
    width: 170px;
    border: 1px solid #FF9797;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    text-align: center;
}