.boardButtonBox {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.boardButtonBox button {
    border: 1px solid #FF9797;
    border-radius: 10px;
    background-color:white;
    padding: 8px 80px;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}

.boardButtonBox button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.goToRegistButton {
    position: absolute;
    right: 70px;
    border-radius: 10px;
    border: none;
    background-color:#FF9797;
    color: white;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 900;
    transition: transform 0.2s ease-in-out;
}

.goToRegistButton:hover {
    cursor: pointer;
}