.boardButtonBox {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.boardButtonBox button {
    border: 1px solid #FF9797;
    border-radius: 10px;
    background-color:white;
    padding: 15px 80px;
    font-size: 20px;
}

.boardButtonBox button:hover,
.clickedButton {
    background-color: #FF9797;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
/* 
.boardTable {
    border-collapse: collapse;
    width: 100%;
}

.boardTable thead {
    font-size: 20px;
    border-bottom: 1px solid #666666;
    padding: 20px;
}

.boardTable th {
    padding: 15px;
}

.boardTable tbody tr:hover {
    background-color: #f8f8f8;
    cursor: pointer;
} */