.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalContainer{
    position: flex;
    width: 700px;
    height: 900px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 1000;
}

.CareerCertiModalDiv{    
    background-color: white;
    border-collapse: collapse;        
    margin-left: 88px;
    width: 80%;
    height: 80%;
    margin-top: 50px;
    padding: 20px;
}

.CareerCertiModalDiv {
    border: 1px solid black;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.name {
    width: 150px;
}

.content {
    vertical-align: top;
    
}

.CareerCertiModalDiv td {
    border: 1px solid black;
}

.th {
    border: 1px solid black;
}

.image {
    position: absolute;
    bottom: 22%;
    right: 42%;
}

.in {
    position: absolute;
    right: 40%;
    bottom: 18%;
}

.date {
    position: absolute;
    right: 46%;
    bottom: 20%;
    font-size: 18px;
}

.deptName {
    font-size: 40px;
    margin-left: 15px;
}

.docCode {
    position: absolute;
    align-self: flex-start;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}

.thLecture {
    width: 100%;
    font-size: 20px;
    height: 0px;
}

.thLectureETC {
    width: 280px;
    border: 1px solid black;
    font-size: 20px;
    height: 0px;
}

.thTable {
    border: 1px solid black;
    height: 20px;
}

.thEmpName  {
    width: 30px;
    height: 7px;
}