
.EmployeeList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 18px;
  
}

.employeeListTable {
  border-collapse: collapse;
  table-layout: fixed;
  
}

.employeeListTable th,
td {
  height: 10px;
  text-align: center;
  word-break: break-all;
  table-layout: fixed;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  
}

.employeeTable {
  margin-top: 30px;
  border-collapse: collapse;
  overflow: scroll;
  height: 650px;
  
}

.employeeTable th {
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 20px;
}

.employeeTable td {
  padding: 20px;
}

.EmployeeRegistButton {
  position: absolute;
  right: 170px;
  border-radius: 10px;
  border: none;
  background-color: #FF9797;
  color: white;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: 900;
  transition: transform 0.2s ease-in-out;
}

.EmployeeDeleteButton {
  position: absolute;
  right: 70px;
  border-radius: 10px;
  border: none;
  background-color: #FF9797;
  color: white;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: 900;
  transition: transform 0.2s ease-in-out;
}