.EmployeeList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 1080px;
  height: 850px;
  margin: 10px;
  margin-right: 600px;
  font-size: 18px;
}

.EmployeeListTable {
  border-collapse: collapse;
  table-layout: fixed;
}

.EmployeeListTable th, td {
  height: 10px;
  text-align: center;
  word-break:break-all;
  table-layout:fixed;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.employeeTable {
  margin-top: 30px;
  border-collapse: collapse;
}

.employeeTable th {
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 20px;
}

.employeeTable td {
  padding: 20px;
}

.employeeBtn {
  display: flex;
  float: right;
  align-items: center;
}

.employeeBtn button {
  margin-right: 20px;
  width: 150px;
  height: 24px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #FF9797;
  color: white;
}