.backgroundDiv {
  display: flex;
  flex-direction: column;
  /*수평 정렬*/
  justify-content: center;
}

.loginDiv {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 11%;
  background-color: white;
  border-radius: 25px;
}

.loginDiv input {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 440px;
  border: 3px solid #343434;
  text-indent: 10px;
  border-radius: 25px;
}

.loginDiv input:focus {
  outline: none;
}

.loginDiv button {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #343434;
  font-weight: 900;
  font-size: 20px;
  color: white;
  align-items: center;
  cursor: pointer;
}

.loginDiv span {
  color: #666666;
  ;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.loginDiv h1 {
  color: #343434;
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  margin-left: 1px
}