.EmployeeInsertModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.EmployeeInsertModalContainer {
  position: absolute;
  width: 1000px;
  height: 920px;
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.EmployeeInsertModalContainer::-webkit-scrollbar {
  display: none;
}

/* 타이틀 크기 지정 ~! */
.EmployeeInsertModalTitle {
  font-size: 20px;
  margin-left: 20px;
  font-weight: bolder;
}

/* inputbox Title */
.EmployeeInsertModalFirst {
  border: 1px solid #DADADA;
  background-color: #DADADA;
  border-radius: 5px;
  width: 1000px;
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.EmployeeInsertModalFirst span {
  display: flex;
  align-items: center;
}

.EmployeeModalMain {
  display: flex;
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  margin-top: 12px;
  outline: none;
}

.EmployeeInsertModalYear {
  margin-left: 20px;
}

.EmployeeModalButtonContainer {
  margin-top: 12px;
}

.EmployeeBtnFirst {
  width: 70px;
  height: 35px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #343434;
  border: 1px solid #343434;
  color: white;
}

.EmployeeBtnSecond {
  width: 70px;
  height: 35px;
  margin-right: 20px;
  font-size: 16px;
  background-color: #343434;
  border: 1px solid #343434;
  color: white;
}

/* inputbox Professor Inform */
.EmployeeInsertModalSecond {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  align-items: center;
  height: 40px;
  width: 960px;
}

.EmployeeInsertModalSecond span {
  font-size: 16px;
}

.EmployeeInsertModalSecond input {
  width: 220px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 1px solid #343434;
  border-radius: 10px;
  outline: none;
}

.EmployeeInsertModalThird {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  align-items: center;
  height: 40px;
  width: 960px;
}

.EmployeeInsertModalThird input {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 1px solid #343434;
  border-radius: 10px;
  outline: none;
}

.EmployeeInsertModalThird .EmployeeInsertEmail {
  width: 474px;
}

.EmployeeInsertModalThird .EmployeeInsertPhone {
  width: 300px;
}

.EmployeeInsertModalMiddle {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
}

.EmployeeInsertModalFourth {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  align-items: center;
  height: 40px;
  width: 960px;
}

.EmployeeInsertModalFourth input {
  width: 190px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 1px solid #343434;
  border-radius: 10px;
  outline: none;
}

.EmployeeInsertModalFifth {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  align-items: center;
  height: 40px;
  width: 960px;
}

.EmployeeInsertModalFifth input {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 1px solid #343434;
  border-radius: 10px;
  outline: none;
}

.EmployeeInsertModalFifth .EmployeeModalLecture {
  width: 430px;
  margin-left: 26px;
}

.EmployeeInsertModalFifth .EmployeeModalSubject {
  width: 300px;
}

.EmployeeInsertModalSixth {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  width: 960px;
}

.EmployeeInsertModalSixth textarea {
  width: 844px;
  height: 150px;
  resize: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #343434;
  font-size: 16px;
}

.EmployeeInsertModalSeven {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  width: 960px;
}

.EmployeeInsertModalSeven textarea {
  width: 844px;
  height: 150px;
  resize: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #343434;
  font-size: 16px;
}

.EmployeeInsertModalEight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EmployeeInsertGradeContainer {
  border: 1px solid #DADADA;
  background-color: #DADADA;
  border-radius: 5px;
  width: 828px;
  height: 60px;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.EmployeeInsertGradeContainer input {
  border: 1px solid #343434;
  border-radius: 10px;
  height: 36px;
  width: 90px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.EmployeeInsertModalBase {
  margin-left: 20px;
}

.EmployeeInsertModalNine {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  width: 960px;
}

.EmployeeInsertModalNine textarea {
  width: 844px;
  height: 150px;
  resize: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #343434;
  font-size: 16px;
}

.EmployeeInsertModalTen {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  width: 960px;
}

.EmployeeInsertModalTable {
  width: 868px;
  border: 1px solid #343434;
}

.EmployeeInsertModalTableTitle {
  background-color: #DADADA;
  border: 1px solid #343434;
  font-size: 16px;
}

.EmployeeInsertModalTable input {
  width: 700px;
  height: 30px;
  font-size: 16px;
  outline: none;
  border: none;
  text-align: center;
}

.EmployeeInsertModalTableTr {
  border: 1px solid #343434;
}