.backgroundDiv{
    display: flex;
    flex-direction: column; /*수평 정렬*/
    justify-content: center;
}

.loginDiv{    
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 11%;
    background-color: white;
    border-radius: 25px ;    
}

.loginDiv input {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 50px;
    width: 440px;
    border: 3px solid  #FF9797;
    text-indent: 10px;
    border-radius: 25px;
}

.loginDiv input:focus {
    outline: none;
}

.loginDiv button {
    margin-top: 20px;
    padding-bottom: 5px;
    width: 440px;
    border-radius: 10px;
    background-color: #FF9797;
    border: solid rgba(255, 151, 151, 0.79);
    color: white;
    font-family: 'Paytone One';
    font-size: 29px;
    cursor: pointer;
 }

.loginDiv span  {
    color: #FF9797;
}

.loginDiv h1{
    font-family: 'Paytone One', sans-serif;
    font-weight: 400;
    font-size: 55px;
}

.loginDiv div{
    float: right;
}

.loginDiv a {
    cursor: pointer;
}
