.modalBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 250px;
    width: 500px;
    height: 700px;
    background-color: white;
    border: 2px solid #FFD7D7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #FFD7D7;
}

/* 쪽지 Layout ---------------------------------------------- */

.flex {
    display: flex;
}

.navBar {
    background-color: #FFD7D7;
    border-radius: 18px 0px 0px 18px;
    width: 90px;
    height: 700px;
}

.header {
    width: 360px;
    height: 50px;
}

.closeButton {
    width: 50px;
    height: 50px;
}

.body {
    /* border: 2px solid #bbabfd; */
    width: 410px;
    height: 650px;
    overflow: scroll;
}

.body::-webkit-scrollbar {
    display: none;
}

/* 쪽지 내부 ---------------------------------------------- */

.navBar img {
    margin: 10px;
    width: 60px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.navBar img:hover {
    transform: scale(1.05);
}

.header p {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    color: #666666;
    margin: 8px 15px;
}

.closeButton img {
    cursor: pointer;
    margin: 10px;
    width: 30px;
}

.body div {
    padding: 15px;
    padding: 10px;
}

.deleteButton {
    position: absolute;
    top: 1.9%;
    right: 11%;
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    background-color: #FF9797;
    color: white;
    cursor: pointer;
}


/* 검색바, 교직원 선택바 --------------------------------------------------- */
.msgSearchBox,
.selectReceiverBox {
    position: fixed;
    position: absolute;
    border-radius: 5px;
    background-color: #FFD7D7;
    display: flex;
    align-items: center; 
    width: 370px;
    height: 25px;
    margin-top: -10px;
}

.selectReceiverBox {
    margin-top: -10px;
    margin-left: 60px;
    width: 285px;
}

.selectReceiverBox p { 
    margin-left: -45px;
    margin-bottom: 27px;
    font-size: 20px;
    font-weight: bold;
}

.msgSearchBox img,
.selectReceiverBox img {
    margin-left: -22px;
    align-self: center;
    width: 15px;
}

.msgSearchSelect,
.selectDepartment,
.selectEmployee {
    width: 120px;
    height: 30px;
    border: 1px solid #FF9797;
    padding: 0px 30px 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 15px;
}

.selectDepartment,
.selectEmployee {
    width: 133px;
    padding-right: 10px;
    margin-left: 25.5px;
}

.msgSearchWord {
    border: 1px solid #FF9797;
    width: 240px;
    height: 27px;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 15px;
}

.msgSearchSelect:focus,
.msgSearchWord:focus,
.selectDepartment:focus,
.selectEmployee:focus {
    outline: none;
}

/* 쪽지 아이템 ------------------------------------------------ */
.dummyBox {
    height: 10px;
}

.msgItemBox {
    font-size: 16px;
    margin-bottom: -10px;
}

.msgItemBox h4 {
    font-weight: 100;
}

.msgItemBox span {
    font-weight: 600;
}

.msgItemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 365px;
    height: 20px;
    margin-left: -19px;
    border: 1px solid #FF9797;
    cursor: pointer;
}

.flex {
    display: flex;
}

.msgItemHeader input {
    margin: 2px 7px 0px -10px;
    border: none;
}

.msgItemHeader p {
    color: #666666;
    font-size: 14px;
}

.msgItemBody {
    width: 365px;
    height: auto;
    margin-left: -19px;
    border: 1px solid #FF9797;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
}

.msgItemFooterBox {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.msgItemBody img {
    width: 30px;
    height: 30px;
    margin: 0px 0px -20px -23px;
    cursor: pointer;
}

.msgItemBody button {
    border: none;
    border-radius: 10px;
    background-color: #FFD7D7;
    color: #666666;
    font-weight: 900;
    padding: 5px 20px;
    margin: 0px -22px -10px -20px;
    cursor: pointer;
}

.msgItemBody button:hover {
    background-color: #FF9797;
    color: white;
}

.msgItemBody p {
    margin: 2px -20px -4px 0px;
    color: #666666;
    
}

.msgItemContentBox {
    background-color: #F8F8F8;
}

.msgItemContentBox p {
    background-color: #F8F8F8;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 5px;
    color: #343434;
}

/* 쪽지 작성 ------------------------------------------------------------------------------ */
.textBox {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 329px;
    height: 470px;
    resize: none;
    margin: 50px 10px 0px 10px;
    border: 1px solid #FF9797;
    border-radius: 10px;
    padding: 20px;
}

.textBox::-webkit-scrollbar {
    display: none;
}

.textBox:focus {
    outline: none;
}

.sendButton {
    border: none;
    border-radius: 10px;
    background-color: #FFD7D7;
    color: #666666;
    font-weight: 900;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 13px 160px;
}

.sendButton:hover {
    background-color: #FF9797;
    color: white;
}