.MyCertiDocCSS {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}

.MyCertiDocCSSTable {
    border-collapse: collapse;
}

.MyCertiDocCSSTable button {
    width: 80px;
    height: 33px;
    background-color: #e9e9e9;
    margin-top: 5px;
    border-radius: 10px;
    color: #343434;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.MyCertiDocCSSTable input {
    width: 80%;
    border: 1px solid #343434;
}

.MyCertiDocCSSTable input:focus {
    border-color: #343434;
    outline: none;
}

.MyCertiDocCSSTable select {
    text-align: center;
    width: 70%;
    border: 1px solid #343434;
    font-size: 16px;
    outline: none;
}

.MyCertiDocCSSTable button:hover {
    color: white;
    background-color: #343434;
}
