 

.myPageLayoutDiv{
    display: flex;
    width: 100%;
    height: 100%;

}

.myPageLayoutDiv h1{
    float: left;
    margin-left: 15px;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 7px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* .myPageLayoutDiv main {
    margin-top: 10px;
} */
.myPageLayoutDiv .button {

    margin-top: 30px;
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    background-color: #999999;
    font-weight: bold;
    border: solid #999999;
    color: white;
    font-family: 'Paytone One';
    font-style: normal;
    font-size: 20px;
    margin-left: 24px;
}

.myPageLayoutDiv span 
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-right: 50px;
}




.myPageLayoutDiv sub{
    margin-top: 20px;
}

.myPageLayoutDiv rrrr{
    display: flex;

}