 

.myPageLayoutDiv{
    display: flex;
    width: 100%;
    height: 100%;
}

.myPageLayoutDiv h1{
    float: left;
    margin-left: 15px;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 7px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* .myPageLayoutDiv main {
    margin-top: 10px;
} */

.buttonContainer {
  position: absolute;
  right: 70px;
}

.buttonContainer button {
  margin-left: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color:#343434;
  color: white;
  padding: 8px 30px;
  font-size: 16px;
  cursor: pointer;
}

.myPageLayoutDiv span 
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-right: 50px;
}




.myPageLayoutDiv sub{
    margin-top: 20px;
}

.myPageLayoutDiv rrrr{
    display: flex;

}