.registerDiv {
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 100px 0px 30px 0px;
}

.registerDiv input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 206px;
  height: 70px;
  border-radius: 10px;
  text-indent: 16px;
  background: #FFFFFF;
  border: 1px solid #343434;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.registerDiv button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.registerDiv h1 {
  float: left;
}

.registerDiv img {
  width: 300px;
  height: 302px;
  border-radius: 200px;
  margin-top: 10px;
  margin-left: 45px;
}

.row {
  margin-left: 60px;
}

.row1 {
  margin-left: -10px;
} 

.row input {
  width: 500px;
  height: 50px;
  font-size: 16px;
}

.row1 input {
  width: 400px;
  height: 50px;
  font-size: 16px;

}

.column {
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.column2 {
  display: flex;
  margin-left: 30px;
}

.namebar input {
  width: 180px;
}

.Enamebar input {
  width: 230px;
}

.column3 {
  margin-left: 59px;
}