.whiteNotiModal,
.darkNotiModal {
    position: absolute;
    right: 12%;
    border-radius: 0px 0px 20px 20px;
    width: 550px;
    height: 400px;
}

.whiteNotiModal {
    border: 5px solid #F6F6F6;
}

.darkNotiModal {
    border: 5px solid #707070;
}

.notiHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    padding: 0px 20px;
}

.notiHeader p {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 27px;
}

.notiHeader span {
    color : #343434;
    letter-spacing: 1.5px;
    font-weight: 900;
}

.notiHeader button {
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 0px 15px;
    color: white;
    background-color: #343434;
    cursor: pointer;
    font-size: 15px;
}

.notiBox {
    margin-top: -10px;
    /* background-color: #7d7d7d; */
    overflow: scroll;
    height: 310px;
}

.notiBox::-webkit-scrollbar {
    display: none;
}

.noneNoti {
    margin-top: 130px;
    text-align: center;
    font-size: 20px;
}

.notiItemBox {
    width: 490px;
    height: 70px;
    background-color: #F8F8F8;
    border-radius: 20px;
    margin: 0px 0px 10px 15px;
    padding: 15px;
}

.notiItemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
}

.notiItemHeader h4 { 
    font-size: 19px;
    margin-left: 5px;
}

.notiItemHeader div {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.notiItemHeader p {
    color: #969696;
    font-size: 17px;
    margin-right: 15px;
}

.notiItemHeader img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.notiItemBody {
    margin: -15px 0px 0px 5px;
    font-size: 18px;
}