.StudentList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 16px;
}

.studentTable {
  margin-top: 10px;
  overflow: scroll;
}

.studentTable th {
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 20px;
}

.studentTable tr {
  height: 52px;
}

.StudentRegistButton {
  position: absolute;
  right: 170px;
  border-radius: 10px;
  border: none;
  background-color:#343434;
  color: white;
  padding: 8px 30px;
  font-size: 16px;
}

.StudentRegistButton:hover {
  cursor: pointer;
}

.StudentDeleteButton {
  position: absolute;
  right: 70px;
  border-radius: 10px;
  border: none;
  background-color:#343434;
  color: white;
  padding: 8px 30px;
  font-size: 16px;
}

.StudentDeleteButton:hover {
  cursor: pointer;
}