.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.modalContainer{
    position: flex;
    width: 500px;
    height: 300px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);    
    z-index: 1000;
    border-radius: 25px;
}

.SubjectModalDiv{    
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    border: solid 1px #343434;
    border-radius: 25px; 
}

.SubjectModalDiv input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #343434;
    height: 40px;
    border-radius: 8px;
    text-align: center;
}

.SubjectModalDiv input:focus {
    outline: none;
}

.SubjectModalDiv button {
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 150px;
    border-radius: 8px;
    color: #666666;
    background-color: white;
    font-weight: bold;
    border: 1px solid #999;
    margin-left: 20px;
}

.SubjectModalDiv button:hover {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background-color: #343434;
    font-weight: bold;
}

.SubjectModalDiv .classType{
    text-align: center;
    width: 40%;
    border-color: #343434;
    border-radius: 8px;
    height: 43px;
    margin-left: 10px;
}

.SubjectModalDiv .score{
    width: 25%;
    height: 40px;
    margin-left: 10px;
}

.SubjectModalDiv .deptName{
    width: 76%;
    height: 40px;
    margin-left: 10px;
}

.SubjectModalDiv .label {
    margin-left: 10px;
}
.SubjectModalDiv .label2 {
    margin-left: 10px;
}

.SubjectModalDiv .stdAttendanceName {
   
}

.SubjectModalDiv .sbjName{
    width: 76%;
    height: 40px;
    margin-left: 10px;
}

.SubjectModalDiv .deptCode{
    text-align: center;
    width: 77%;
    border-color: #343434;
    border-radius: 8px;
    height: 43px;
    margin-left: 10px;
}