.SubjectList {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 850px;
  margin: 10px;
  margin-top: -40px;
}

.SubjectListTable {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.insertButton {
  margin-left: 10px;
  /* 버튼 사이의 간격 조정 */
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  width: 120px;
  background-color: #343434;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
}

.deleteButton {
  margin-left: 10px;
  /* 버튼 사이의 간격 조정 */
  width: 120px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background-color: #343434;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}


.SubjectListTable button {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: #dadada;
  border-radius: 10px;
  color: #343434;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.SubjectListTable button:hover {
  color: white;
  background-color: #343434;
}